    <!--the '_method' will override the 'POST method' because we defined method override in the server-->
    <!--so it will call the delete route indtead of the post route-->
    <form action="<%= url%>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>